<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 minutes">
    <!-- 파일에 저장 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 파일명 생성 규칙 -->
            <fileNamePattern>logback-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 최대 사이즈는 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- console 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- controller에서 발생하는 INFO 이상 log만 따로 파일에 저장 -->
    <logger name="Gojae.BookRecord.controller" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>>

    <!-- 기본 INFO Level 이상은 CONSOLE에 출력 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>